<!doctype html>
<!-- Adapted from https://github.com/EGI-Federation/egi-notebooks-monitoring/ -->
<html lang="en">
  <head>
    <meta charset="utf-8">
    <!-- https://pythonhow.com/add-css-to-flask-website/ -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>EGI Cloud Compute Dashboard</title>
  </head>
  <body>
        <div class="container">
          <img src="{{ url_for('static', filename='images/egi.png') }}" alt="EGI logo" height="350">
          <h1>OpenStack sites in the EGI Federation</h1>
          {% for site, endpoint in endpoints %}
          <p>{{ site }}: <a href="{{ endpoint }}">{{ endpoint }}</a></p>
          {% endfor %}
          <p>Note: This list is automatically taken from the
          <a href="https://goc.egi.eu/">Configuration Database in EGI</a>.</p>
          <p>Contact <a href="https://docs.egi.eu/support/">EGI Support</a> to add your site to the list.</p>
          <h2>Further instructions</h2>
          <p>Select <a href="https://docs.egi.eu/users/aai/check-in/">EGI Check-In</a>
             to log into the OpenStack Horizon dashboards.</p>
          <p>In the dropdown menu of Horizon, you may use <b>EGI Check-In</b>:</p>
          <img src="{{ url_for('static', filename='images/dashboard-login-check-in-1.png') }}" alt="Check-In Option 1">
          <p>Or <b>OpenID Connect</b>:</p>
          <img src="{{ url_for('static', filename='images/dashboard-login-check-in-2.png') }}" alt="Check-In Option 2">
          <p>Or <b>egi.eu</b>:</p>
          <img src="{{ url_for('static', filename='images/dashboard-login-check-in-3.png') }}" alt="Check-In Option 3">
          <p>Additionally you may need to select <b>aai.egi.eu/oidc</b> as well:</p>
          <img src="{{ url_for('static', filename='images/dashboard-login-check-partb.png') }}" alt="Check-In OIDC" height="180">
        </div>
  </body>
</html>
